<div class="col-sm-12 col-md-6 col-lg-4 mt-2 mb-2">
  <div class="card" style="width: 100%; height: 100%">
    <div class="card-body">
      <a
        class="card-link text-center card-title"
        style="text-decoration: none"
        href="{{ path('category_show', { id: item.id }) }}"
      >
        <h4>{{ item.title }}</h4>
      </a>
    </div>
  </div>
</div>
