{% extends "base_client.html.twig" %} {% block body %}
<h1>Create new Cart</h1>

{{ include("cart/_form.html.twig") }}

<a class="btn btn-info" href="{{ path('cart_index') }}">back to list</a>
{% endblock %}
