{% extends "base_stock.html.twig" %} {% block body %}
<h1>Edit Item</h1>
{{ include("item/_form.html.twig", { button_label: "Update" }) }}
<a class="btn btn-primary" href="{{ path('item_index') }}">back to list</a>

{{ include("item/_delete_form.html.twig") }}
{% endblock %}
